body {
    background-color: #f7f3ea;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #403329;
}

h1 {
    color: #cc000d;
}

div {
    border: 0px solid red
}

.container {
    display: flex;
}

.container > div {
    flex: 1; /*grow*/
}

#main-content {
    margin: 10px
}

.new-question {
    background: grey;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: table;
}

.new_question_text_div {
    width: 100%;
    display: table-cell;
}

.new-question .new_question_text_div #new_question_text {
    width: 100%;
}

.new-question .btn {
    display: table-cell;
}

.question-container {
    display:flex;
}

.question-votes-container {
    width: 50px;
    text-align: center;
}

.vertical-certer {
    text-align: center;
    vertical-align: middle;
}
