body {
    background-color: linen;
}

h1 {
    color: maroon;
} 

div {
    border: 0px solid red
}

.container {
display: flex;
}

.container > div {
flex: 1; /*grow*/
}

/*#page {
    width: 80%;
}*/

#main-content {
    margin: 10px
}


.form-group {
    background: grey;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: table;
}

.new_question_text_div {
    width: 100%;
    display: table-cell;
}

.form-group .new_question_text_div #new_question_text {
    width: 100%;
}

.form-group .btn {
    display: table-cell;
}

.question-container {
    display:flex;
}

.question-votes-container {
    width: 50px; 
    text-align: center;
}

.vertical-certer {
    text-align: center; 
    vertical-align: middle;
}
